.ac-cl-head .day {
    position: relative;
    float: left;
    display: inline-block;
    width: 14.28%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    background-color: #f1f1f1;
    line-height: 56px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
}
.ac-cl-date .ac-date-cell:first-child {
    border-left: 1px solid #e4e4e4;
    clear: both;
}
.ac-cl-date .ac-date-cell {
    width: 14.28%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    min-height: 150px;
    padding-bottom: 15px;
    float: left;
    position: relative;
    display: inline-block;
    border-right: 1px solid #e4e4e4;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ac-cl-date .ac-date-cell .num {
    position: relative;
    left: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}
.ac-cl-date .event .ac-cl-event-list li span {
    font-size: 10px;
    color: #666;
    font-weight: normal;
}
.ac-month-bar {
    width: 100%;
    height: 70px;
    text-align: left;
}
.ac-month-bar .next-month {
    float: left;
    width:100%;
}
.ac-month-bar >span {
    margin-left: 2%;
}
.ac-month-bar > span.month-view-title {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
}
.light-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    z-index: 1000000;
}
.light-box {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.btn-noW, .event-btn .btn-submit, .event-edit-btn .btn-edit, .comment-ct p.t-l a, nav.searching-list li .info-content .ico-date .show-date {
    border: 1px solid #3090e5;
}
.ac-cl-date .event .ac-cl-event-list li span {
    font-size: 12px;
    color: #029ED9;
    font-weight: normal;
}
.ac-cl-date .event {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    height: auto;
    max-height: 235px;
    overflow: hidden;
    padding-bottom: 3px;
}
.sevenday .event{
    max-height: 100px;
}
#ac-add-event-calendar .contain-vm-large {
    display: block;
}
#ac-add-event-calendar .contain-vm-small {
    display: none;
}
.disable {
    opacity: 1;
}
.ac-cl-date .ac-date-cell .dName {
    display: none;
}
.ac-cl-date .ac-date-cell .sun {
    position: relative;
    left: 5px;
    font-weight: 700;
    font-size: 13px;
}
.ac-cl-date .event .ac-cl-event-list {
    width: 100%;
    text-align: left;
    display: block;
    float: left;
    padding: 0px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ac-cl-date .event .ac-cl-event-list li {
    margin-bottom: 0;
    padding-top: 5px;
    list-style: none;
    margin: 0 !important;
}
.popup-btn {
    float: left;
    margin-right: 10px;
    left: 25px;
    margin-top: 10px;
    position: relative;
}

.btn-noW {
    font-size: 13px;
    background-color: #fff;
    width: auto;
    text-align: center;
    padding: 9px 20px;
    cursor: pointer;
    border: 1px solid #3090e5;
    font-weight: 700;
    color: #666666;
    margin-right: 15px;
}

.time-filter {
    width: 60%;
    position: relative;
    display: block;
    float: left;
}
.width-40{
    width: 40%;
}
.calendar-filter-content{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.apply-all a {
    text-align: center;
    position: absolute;
}

.time-filter .start, .time-filter .end {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 5px;
}
.time-filter label {
    width: 85px;
    float: left;
    display: block;
    font-size: 13px;
    color: #666;
    margin-left: 5px;
    line-height: 38px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.time-filter select.time {
    width: 50px;
    height: 40px;
    background-color: #f9f9f9;
    font-size: 12px;
    padding-left: 3px;
    color: #666666;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: -1px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px!important;
}
.time-filter span.arrowH {
    width: 19px;
    height: 37px;
    background-color: #f9f9f9;
    position: absolute;
    left: 120px;
    z-index: 10;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #efefef;
    pointer-events: none;
}
.time-filter select.time {
    width: 50px;
    height: 40px;
    background-color: #f9f9f9;
    font-size: 12px;
    padding-left: 3px;
    color: #666666;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: -1px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px!important;
}
.time-filter span.clock {
    position: relative;
    background-color: #f9f9f9;
    float: left;
    width: 40px;
    margin-left: -18px;
    height: 38px;
    border: 1px solid #ccc;
    text-align: center;
}
.time-filter span.clock .fa-clock-o {
    color: #666;
    font-size: 30px;
    position: relative;
    top: 5px;
}

.time-filter label {
    margin: 0px!important;
    margin-top: 1px!important;
}

.clear-all {
    /*width: 120px;*/
    /*height: 80px;*/
    /*float: right;*/
    /*position: relative;*/
    /*display: block;*/
    /*border-left: 1px solid #000;*/
}
.left{
    float: left;
}
.full-width{
    width: 100%;
}
.clear-all-admin, .apply-all-admin{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 13px;
}
.btn-noW:hover{
    color: #ffffff;
}
.clear-all-admin a,
.apply-all-admin a{
    color: #3090e5;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;

    border: 1px solid #3090e5;
}
.right{
    float: right;
}
.text-right{
    text-align: right;
}

.filter{
    margin: 0px;
    float: left;
    width: 100%;
}

.viewmore-box {
    width: 200px;
    min-height: 150px;
    padding: 20px;
    z-index: 2000;
    display: none;
    background-color: #f8f8f8;
    position: fixed!important;
    top:200px!important;
    left: 40%!important;


}
.viewmore{
    display: block;
}
.viewmore.hidden{
    display: none;
}
.viewmore-content{
    position: relative;
}
.closeviewmore,.closepopup{
    position: absolute;
    right: -23px;
    top: -28px;
    background: rgb(91, 91, 197);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid white;
    cursor: pointer;
}
.closeviewmore img{
    padding-top: 3px;
}
.closepopup{
    top: -11px;
    right: -11px;
}
.closepopup img{
    margin-top: 4px;
}
li.evt-itm  a{
    text-decoration: none;
    font-size: 12px;
    color: #444;
    border-bottom: 0px;
}

.clear-all-admin a:hover, .apply-all-admin a:hover{
    color: white;
    background: #3090e5;
    box-shadow: none;
}

.admin-error-text{
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

li.evt-itm a:focus,
li.evt-itm a:focus span{
    box-shadow: none!important;
}
/*Tri fix responsive calendar*/
._apollo_event_days_of_week_field{
    float: left;
}
.calendar-day-in-week-item-group{
    float: left;
    width: calc(100% - 185px);
    margin-top: 27px;
}
.ac-date-cell.ng-scope.disable {
}
.ac-cl-date .ac-date-cell{
    overflow: hidden;
}
.ac-cl-date .ac-date-cell.disable{
    background: white;
}
.ac-viewmore{
    color: #333 !important;
}
li.evt-itm a:hover,
li.evt-itm a:hover span{
    text-decoration: underline;
    box-shadow: none;
}
.blockOverlay{
    z-index: 1000!important;
}
.blockUI.blockMsg.blockPage{
    z-index: 1000!important;
}

.selected_day span {
    margin-top: -6px;
}
.calendar-day-group {
    margin-top: -8px;
}
#button-update-calendar{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.viewmore-box li.evt-itm a{
    color: #029ED9;
}
.viewmore-box .ac-cl-event-list li.evt-itm:last-child{
    border-bottom: 0;
}
@media(max-width: 1210px) {
    .calendar-day-in-week-item-group{
        float: left;
        width: calc(100% - 15px);
        margin-left: 15px;
    }
}
@media(max-width: 1175px) {
    .calendar-day-in-week-item-group{
        margin-top: 0px;
    }
    .time-filter,
    .right.width-40,
    ._apollo_event_days_of_week_field{
        float: left;
        width: 100%;
    }
    ._apollo_event_days_of_week_field{
        padding-left: 0px;
        padding-right: 0px;
    }
    .calendar-day-group{
        float: left;
        width: 42%;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-top: 5px;
    }
    #_apollo_event_end_date,
    #_apollo_event_start_date
    {
        width: 75%!important;
    }
    #button-update-calendar{
        float: left;
        width: 100%;
    }
    .time-filter label{
        line-height: 34px!important;
    }
    #box_time_calendar.box {
        left: calc((100% - 280px)/2)!important;
    }

}
@media(max-width: 550px){
    #datetime-event-data  label{
        float: left!important;
        /*width: 100%!important;*/
        /*margin: 0px!important;*/
    }
    #datetime-event-data label[for="_apollo_event_start_date"],
    #datetime-event-data label[for="_apollo_event_end_date"],
    ._apollo_event_days_of_week_field p,
    #datetime-event-data label.calendar-day-in-week-label
    {
        width: 100%!important;
        margin-left:0!important;
    }
    #datetime-event-data  p.form-field{
        padding-left: 0px!important;
    }
    .clear-all-admin,.apply-all-admin,  .clear-all-admin a#calendar_clear_all,.apply-all-admin a#calendar_choice_all{
        width: 92%;
        float: left;
        margin-bottom: 0px;
        /* margin: 0px; */
        text-align: center;
    }

}
@media(max-width: 498px){
    #datetime-event-data .time-filter label {
        float: left!important;
        width: 95%!important;
        margin: 0px!important;
        border-right: 1px solid #ccc;

    }
}
.delete-calendar-cell {
    width: 20px;
    height: 20px;
    background: white;
    float: right;
    position: absolute;
    right: 0px;
    z-index: 999;
    display: none;
    text-align: center;
    font-size: 20px;
}
.ac-date-cell:hover .delete-calendar-cell {
    display: block;
}
.ac-date-cell.disable .delete-calendar-cell {
    display: none;
}
.ac-date-cell.disable .viewmore, .delete-calendar-cell {
    display: none;
}
.viewmore{
    margin-left: 5px;
}
.viewmore:hover{
    text-decoration: underline!important;
}
/*TriLM: undo delete calendar event time*/
.undo-delete-calendar-cell{
    display: none;
    background-color: #f1f1f1;
}
.inactive:hover .undo-delete-calendar-cell{
    display: block;
    background-color: #f1f1f1;
}
.undo-delete-calendar-cell {
    width: 20px;
    height: 20px;
    background: white;
    float: right;
    position: absolute;
    z-index: 9999;
    display: none;
    text-align: center;
    font-size: 20px;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.undo-delete-calendar-cell i{
    color: #333;

}
.undo-delete-calendar-cell:hover{
    color: #333;
}
.fa-plus:before {
    content: "\f067";
}
.disable .ac-day{
    opacity: 0.5;
}
.ac-day {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #B2B2B2;
    padding: 6px;
    color: #ffffff;
}
.ac-cl-head .ac-day {

    position: relative;
    float: left;
    display: inline-block;
    width: 14.28%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    background-color: #666666;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}


span.ac-viewmore, span.ac-viewmore:hover {
    color: #666!important;
    margin-top: 5px;
}

.ac-date-cell.disable .viewmore,
.delete-calendar-cell
{
    display: none;
}
.ac-date-cell span.viewmore, span.viewmore:hover
{
    color: #029ED9!important;
    margin-top: 5px;
    font-weight:bold;
    font-size: 13px;
}

.ac-cl-date .date-week.ng-scope:last-child{
    border-bottom: 1px solid #e4e4e4;
}
.ac-date-cell.ng-scope.disable {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .ac-cl-date .ac-date-cell {
        width: 100%;
        float: left;
        height: auto;
        min-height: 40px;
    }
    .ac-cl-date .ac-date-cell.disable, .ac-cl-date .ac-date-cell.empty {
        display: none;
    }

    .ac-cl-date .ac-date-cell {
        width: 100%;
        float: left;
        height: auto;
        min-height: 40px;
        border: 1px solid #e4e4e4;
        border-bottom: none;
        padding-bottom: 0px;
    }
    .ac-cl-date .ac-date-cell .ac-day {
        width: 25%;
        float: left;
    }

    .ac-cl-date .ac-date-cell .event {
        width: auto;
        float: left;
        min-height: 60px;
        border-left: 1px solid #ccc;
        max-height: none;
        height: auto;
    }
    #ac-add-event-calendar .contain-vm-small {
        display: block;
    }
    .ac-cl-date .ac-date-cell .event .ac-cl-event-list {
        margin-bottom: 10px;
        padding-right: 5px;
    }
    .ac-cl-head {
        display: none;
    }
    #ac-add-event-calendar .contain-vm-large {
        display: none;
    }
}

@media (min-width: 769px) {
    .ac-cl-head.short {
        display: none;
    }
    .max-768 {
        display: none;
    }
}


@media (max-width: 768px) and (min-width: 520px) {
    .ac-cl-date .event .ac-cl-event-list li {
        border:none;
    }
}

@media (max-width: 480px) {
    .ac-cl-date .ac-date-cell .event{
        border: 1px solid #e4e4e4;
    }
    .ac-cl-date .ac-date-cell .ac-day {
        width: 100% !important;
    }
    #ac-add-event-calendar .contain-vm-small {
        width: 97%;
    }
}

nav.ac-type li:first-child {
    background-color: transparent;
}

.ac-month-bar > span.start_month {
    display: block;
    margin-left: 0;
    text-align: center;
    font-size: 30px;
}

.ac-month-bar .next-month {
    margin-bottom: 10px;
}
.ac-month-bar .next-month .prev-b {
    float: left;
    width: auto;
}
.ac-month-bar .next-month .next-b {
    float: right;
    text-align: right;
}
.ac-month-bar .next-month .prev-b, .ac-month-bar .next-month .next-b {
    font-weight: bold;
    font-size: 1.3em;
    color: #029ED9;
    cursor: pointer;
    line-height: 14px;
}
.ac-month-bar .next-month .prev-b:hover, .ac-month-bar .next-month .next-b:hover{
    text-decoration: underline;
}
.ac-cl-date .event .ac-cl-event-list {
    margin-left: 0px;
}.ac-search-bkl nav.ac-search-list-thumb li
.ac-cl-date .event .ac-cl-event-list li {
    padding: 0;
    display: block;
    border-bottom: 0px;
}

.ac-cl-date .event .ac-cl-event-list li .evt-itm-ct {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 5px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 1;
    word-break: break-word;
}
.ac-cl-date .event .ac-cl-event-list li:last-child .evt-itm-ct {
    border-bottom: 0px;
}

li.evt-itm  a {
    display: inline-block;
    box-shadow: none;
}

.ac-cl-date .event .ac-cl-event-list li .evt-itm-ct span {
    max-height: 50px;
    overflow: hidden;
    display: block;
    line-height: 1.4;
}
.ac-date-cell span.viewmore, span.viewmore:hover {
    cursor: pointer;
}
.artsopolis-calendar-frontend .ac-cl-date{
    clear: both;
}

.ac-month-bar .next-month{
    margin-top: 12px;
}

.ac-month-bar > .next-month.next-month-mobile{
    margin-top: 12px;
}

.ac-month-bar .next-month .prev-b:before{
    content:"\00ab";
    padding-right: 4px;
    vertical-align: middle;
    margin-top: -4px;
    display: inline-block;
}
.ac-month-bar .next-month .next-b:after{
    content:"\00bb";
    padding-left: 4px;
    vertical-align: middle;
    margin-top: -4px;
    display: inline-block;
}

@media (max-width: 768px) {
    .ac-cl-date .ac-date-cell .ac-day {
        box-sizing: border-box;
    }
    .ac-cl-date .ac-date-cell .event {
        box-sizing: border-box;
        width: 75%
    }
    .ac-cl-date .ac-date-cell .event .ac-cl-event-list {
        margin-bottom: 0px;
        padding-right: 0px;
    }
    .ac-cl-date .event .ac-cl-event-list li .evt-itm-ct {
        margin-left: 0px;
        margin-right: 0px;
    }
    .ac-cl-date .event .ac-cl-event-list li .evt-itm-ct span {
        max-height: none;
    }
}

@media (max-width: 480px) {
    .ac-cl-date .ac-date-cell .event {
        width: 100% !important;
    }
    .ac-month-bar > .next-month{
        margin-top: 5px;
    }
}

.artsopolis-calendar-frontend .date-week{
    display: flex;
    flex-flow: row wrap;
}

.ac-date-cell span.viewmore:hover {
    color: #029ED9 !important
}
@media all and (min-width: 800px) {
    .artsopolis-calendar-frontend .date-week .ac-cl-date .ac-date-cell{
        flex: 3 0px;
    }
}

.ac-date-cell span.viewmore {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    padding-left: 5px;
    line-height: 1.2;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(images/ui-icons_454545_256x240.png) !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_222222_256x240.png) !important;
    text-indent: -99px !important;
}